
/* Importing Font Family */
@import url("https://fonts.googleapis.com/css2?family=Montserrat");

/* Root for constants in CSS */
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --primarycolor: #23856d;
  --secondarycolor: #23a6f0;
  --success-text-color: #2dc071;
  --text-color: #252b42;
  --second-text-color: #737373;
  --disabled-element-color: #8ec2f2;
  --light-gray-1: #fafafa;

  --font-mono: var(--font-inconsolata);
}

* {
  margin: 0;
  padding: 0;
}

/* CSS for all nav components */
.nav {
  background-color: var(--primarycolor);
  width: 100%;
  display: flex;
  justify-content: center;
  height: 46px;
  align-items: center;
  color: #ffffff;
}
.nav-main {
  background-color: #ffffff;
  width: 100%;
  display: flex;
  justify-content: center;
  height: 46px;
  align-items: center;
}

.inner-con {
  display: flex;
  justify-content: space-between;
  width: 90%;
  align-items: center;
}

.contact {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.contact-m {
  display: flex;
  justify-content: space-between;
  gap: 110px;
}

.insta-img {
  height: 20px;
  width: 20px;
}
.e-inner {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
}

.right-icons {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
}

.phone-num {
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.2px;
}

.title {
  font-family: "Montserrat";
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.1px;
}

.mini-nav {
  display: flex;
  align-items: center;
}

.mini-nav-ul {
  display: flex;
  align-items: center;
  gap: 15px;
}
.a-tag {
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.2px;
  color: var(--text-color);
  text-decoration: none;
}

.li-style {
  list-style: none;
}

.a-tag:hover {
  color: #23856d;
  transition: 1s;
  font-size: 16px;
}

.login-register {
  display: flex;
  gap: 5px;
  align-items: center;
}

.l-r {
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.2px;
  color: var(--secondarycolor);
}

.numb {
  font-family: "Montserrat";
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.2px;
  color: var(--secondarycolor);
}

.j-content {
  display: flex;
  align-items: center;
  gap: 5px;
}

.r-nav {
  display: flex;
  gap: 30px;
  align-items: center;
}

.icons-right {
  display: flex;
  align-items: center;
  gap: 5px;
}

.cursor {
  cursor: pointer;
}

.shop {
  display: flex;
  gap: 5px;
  align-items: center;
  padding-top: 2px;
  list-style: none;
}
/* -------------------------------------------- */

/* CSS for furniture component */

.furniture {
  width: 100%;
  padding-top: 80px;
  padding-bottom: 80px;
  display: flex;
  gap: 15px;
  justify-content: center;
}

.left-f {
  background-image: url("../app/images/png/cober-one.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 616px;
  width: 451px;
  padding: 24px;
}

.right-t {
  background-image: url("../app/images/png/cover-top.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  width: 678px;
  padding: 24px;
}

.r-one {
  background-image: url("../app/images/png/cover-under-one.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;
  width: 310px;
  padding: 24px;
}

.r-two {
  background-image: url("../app/images/png/cover-under-two.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;
  width: 310px;
  padding: 24px;
}

.right-bottom {
  display: flex;
  gap: 16px;
  align-items: center;
  margin-top: 15px;
}

.items-f {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.2px;
  color: var(--success-text-color);
  /* font-family: "Montserrat"; */
}

.fr-f {
  /* font-family: "Montserrat"; */
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 0.2px;
  color: var(--text-color);
}

.fr-ff {
  /* font-family: "Montserrat"; */
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.2px;
  color: var(--text-color);
}

.align-p {
  /* font-family: "Montserrat"; */
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.2px;
  color: var(--second-text-color);
  text-align: center;
}
.align-b {
  /* font-family: "Montserrat"; */
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.2px;
  color: var(--second-text-color);
  text-align: center;
}

.align-text {
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.2px;
  color: var(--second-text-color);
  text-align: center;
  margin-bottom: 32px;
}

/* ---------------------------------------- */

/* CSS for Featured Products component */
.featured-p {
  width: 100%;
  padding-top: 80px;
  padding-bottom: 80px;
  display: flex;
  justify-content: center;
}

.align-p {
  font-family: "Montserrat";
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.2px;
  color: var(--text-color);
}

.map-data {
  display: flex;
  gap: 20px;
  margin-bottom: 15px;
}

.featured-btn {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

/* ----------------------------------- */

/* CSS for Button component */
.button-main {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.b-text {
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.2px;
}

/* ----------------------------------- */

/* CSS for Best Services component */
.b-services {
  width: 100%;
  padding-top: 80px;
  padding-bottom: 80px;
  display: flex;
  justify-content: center;
}

.content-b {
  margin-top: 80px;
  display: flex;
  gap: 43px;
  justify-content: center;
}

.header-i {
  font-family: "Montserrat";
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.2px;
  color: var(--text-color);
  padding-top: 20px;
  padding-bottom: 20px;
}

.desc-i {
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.2px;
  text-align: center;
  color: var(--second-text-color);
}

.icon-card-main {
  width: 30%;
}

.icon-inner {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ----------------------------------- */

/* CSS for Featured Posts */

.f-post {
  width: 100%;
  padding-top: 80px;
  padding-bottom: 80px;
  display: flex;
  justify-content: center;
}

.f-posts {
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.2px;
  color: var(--secondarycolor);
  text-align: center;
  padding-top: 112px;
}

.f-titles {
  font-family: "Montserrat";
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 0.2px;
  color: var(--text-color);
  text-align: center;
}

.g-btn {
  color: var(--disabled-element-color);
  font-family: "Montserrat";
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.2px;
  text-align: center;
}

.t-btn {
  color: var(--second-text-color);
  font-family: "Montserrat";
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.2px;
  text-align: center;
}

.n-btn {
  color: var(--second-text-color);
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.2px;
  text-align: center;
  font-family: "Montserrat";
}

.items-map {
  display: flex;
  gap: 10px;
  margin-top: 80px;
}

.item-list {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.title-data {
  color: var(--text-color);
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.2px;
  text-align: center;
}

.container-f{
  width: 183px;
  outline: none;
  cursor: pointer;
  border: none;
  background-color: #ffffff;
}

.desc-data{
  color: var(--text-color);
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.2px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.f-home {
  box-shadow: 0px 2px 2px 0px;
  width: 348px;
}

.content-f-inner {
  padding: 25px;
  display: flex;
  gap: 15px;
  align-items: center;
}

.content-desc {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
}

.date-comment {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
}

.diplay-f {
  display: flex;
  gap: 5px;
  align-items: center;
}

.header-f {
  color: var(--text-color);
  font-family: "Montserrat";
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.2px;
  padding-right: 100px;
  margin-bottom: 10px;
}
.text-fa {
  color: var(--text-color);
  font-family: "Montserrat";
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.2px;
}

.desc-f {
  color: var(--second-text-color);
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 200;
  letter-spacing: 0.2px;
}

.base-f {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
}

.learn-more {
  color: var(--text-color);
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.2px;
}

/* -------------------------------- */

/* CSS for what they say */
.what-they-say {
  width: 100%;
  padding-top: 80px;
  padding-bottom: 80px;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.w-they-say {
  width: 40%;
  /* display: flex; */
  justify-content: center;
}

.display-what-ts {
  display: flex;
  align-items: center;
  gap: 17.85px;
  margin-bottom: 15.85px;
}

.title-wts {
  color: var(--text-color);
  font-family: "Montserrat";
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.2px;
  text-align: center;
  margin-top: 30px;
}

.image-wts {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.desc-wts {
  color: var(--second-text-color);
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.2px;
  text-align: center;
  margin-top: 30px;
}

.name-wts {
  color: var(--secondarycolor);
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.2px;
  text-align: center;
  margin-top: 30px;
}

.abouut-wts {
  color: var(--text-color);
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.2px;
  text-align: center;
}

/* ----------------------- */

/*  */
.better-main {
  background-image: url("../app/images/png/conflict-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 640px;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 80px;
  padding-bottom: 80px;
}

.top-title {
  color: var(--secondarycolor);
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.2px;
  text-align: center;
  margin-top: 80px;
}

.top-desc {
  color: var(--text-color);
  font-family: "Montserrat";
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 0.2px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.better-inner {
  padding-left: 50px;
  padding-right: 50px;
  width: 40%;
}

.desc-inner {
  color: var(--text-color);
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.2px;
  text-align: center;
}

.cash {
  color: #23856d;
  font-family: "Montserrat";
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.2px;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 30px;
}

.btn-b {
  display: flex;
  justify-content: center;
}
/*  */

/* CSS for Footer */
.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 195px;
  margin-right: 195px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.footer-main {
  background-color: var(--light-gray-1);
}

.footer-link {
  color: var(--second-text-color);
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.2px;
}

.header-link {
  color: var(--text-color);
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.2px;
}

.footer-middle {
  margin-left: 195px;
  margin-right: 195px;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-bottom {
  padding-top: 25px;
  padding-bottom: 25px;
  margin-left: 195px;
  margin-right: 195px;
}

.footer-made {
  color: var(--text-color);
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.2px;
}

.footer-search {
  background-color: #f9f9f9;
  border-radius: 5px;
  border: 1px solid #e6e6e6;
}

.search-input {
  height: 25px;
  padding-left: 20px;
  background-color: #f9f9f9;
}

/* ------------------ */

/* media */
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
